@model IEnumerable<WebApp.Models.Actors>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/flipCard.css" />
<link href="~/jquery-ui-1.12.1/jquery-ui.css" rel="stylesheet">
<link href="~/jquery-ui-1.12.1/jquery-ui.structure.css" rel="stylesheet">
<link href="~/jquery-ui-1.12.1/jquery-ui.theme.css" rel="stylesheet">
<style>
  .custom-combobox {
    position: relative;
    display: inline-block;
  }
  .custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
  }
  .custom-combobox-input {
    margin: 0;
    padding: 5px 10px;
  }
  </style>

<h1>Actors</h1>

<p>
    <a asp-action="Create" class="btn btn-warning ">Create New</a>
</p>

<input id="input" list="actors"/>


<datalist id="actors">

</datalist>

<script type="text/jscript">  
    window.onload = function getList()
    {
        var url = "/Actors/Search";  
        var actors = document.getElementById('actors');
        $.get(url, null, function (data) {  
            data.forEach(actor =>
            {
                var option = document.createElement('option');
                option.appendChild(document.createTextNode(actor));
                actors.appendChild(option);
            }); 
        });
        
    }
</script>  

<div class="row mb-4 wow fadeIn justify-content-center">
    @foreach (var item in Model)
    {
    <div class="flip-card card mb-3" style="display: inline-block; margin:10px">
        <img class="card-img-top flip-img" width="2" src="@item.Photo" alt="Card image cap">
        <div class="card-body" style="text-align:center; padding-top:15px">
            <h5 class="card-title" style="margin-bottom:0px; padding-bottom: 5px">@item.Name</h5>
            <p style="position:absolute; bottom:0px">
                <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-info">Info</a>
                <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-secondary">Edit</a>
                <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger">Delete</a>
            </p>
        </div>
    </div>
    }

</div>
